[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw
[submodule "libs/assimp"]
	path = libs/assimp
	url = https://github.com/assimp/assimp
[submodule "libs/glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui
[submodule "libs/volk"]
	path = libs/volk
	url = https://github.com/zeux/volk
[submodule "libs/vma"]
	path = libs/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
